.unsplash {
  margin: 30px auto;
  text-align: center;
}

.unsplashLink {
  border: 2px solid #757575;
  padding: 10px;
  border-radius: 10px;
  font-family: 'Bungee';
}

.unsplashLink:hover {
  background: #757575;
  color: white;
}

.image {
  width: 100%;
}
